@import "tailwindcss";


@theme inline {
  --color-dark-hover: #2a004a;
  --color-light-hover: #fcf4ff;
  --color-dark-theme: #11001f;
  --font-outfit: var(--font-outfit), sans-serif;
  --font-ovo: var(--font-ovo), serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}